<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PoemFactory</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='/images/small_logo_blue.png')}}" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
</br>
<div style="text-align: center" class="circleborder">
    <img class="avatar"; src="{{url_for('static', filename='/images/logo.png')}}" alt="Logo Poem Generator" width=18% height=18%/></div>
    <br>
    <br>
    <div class="box-test" style="text-align:center">
        <h3 style="text-align:center"> Mots à inclure dans le poème : </h3>
            <div class="row">
                <form  action="/chosen_words/" method="post">
                    <label>Mot 1 : <input type="text" name="word1" id="prefilled1" required style="height:25px;" ></label><br>
                    <label>Mot 2 : <input type="text" name="word2" id="prefilled2" required style="height:25px;" ></label><br>
                    <label>Mot 3 : <input type="text" name="word3" id="prefilled3" required style="height:25px;" ></label><br>
                    <p style="text-align:center" id="prefilledword"> </p>
                </br>
                </br>
                <div class="center">
                <input type="submit" id="Validate" style="text-align:center" value="Valider">
                <br>
                 </div>
                </div>
                </form>
    </div>    
</br>
</br>
</br>
</br>
</br>
</br>
</body>
<footer>
    <figcaption class="blockquote-footer" style="text-align:center">
    </br>
    - Projet de <cite title="Source Title"> Cloud Computing</cite> - </br>
    Yvan Belakebi-Joly, Vinciane Desbois, Simon Mariani & Clémence Millet <br>
    </figcaption>
</footer> 
</html>